body
{
    background-color: whitesmoke;
}

.main-content
{
    border-color: black;
    border-style: dotted;
    height: 100%;
    width: 79%;
    margin-left:10%;
    background-color: white;
}

.header
{
    border-color: black;
    border-style: double;
    height: 30%;
    width: 100%;
    background-color: #333;
}   

.ul-header
{
    list-style-type: none;
    padding-left: 5%;
    margin: 0;
    padding-top:1%;
    padding-bottom:2%;
}

.li-header
{
    float: left;
    Padding-right: 5%;
}

.li-header a 
{
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}

.li-header a:hover 
{
    background-color: gray;
}

.left-sidebar
{
    border-color: black;
    border-style: double;
    height: 10%;
    width: 10%;
    float:left;
    overflow-wrap: break-word;
    text-align:center;
}   

.right-sidebar
{
    border-color: black;
    border-style: double;
    height: 100%;
    width: 10%;
    float:right;
    overflow-wrap: break-word;
    text-align:center;
}   
