

.main-content
{
    border-color: black;
    border-style: dotted;
    height: 100%;
    width: 79%;
    margin-left:10%;
}

.header
{
    border-color: black;
    border-style: double;
    height: 30%;
    width: 100%;
}   

ul.header
{
    list-style-type: none;
    margin: 0;
    /*display: block;*/
    padding-left: 5%;
    /*overflow: hidden;*/
}

li.header
{
    float: left;
    Padding-right: 5%;
}

a:hover {}

.left-sidebar
{
    border-color: black;
    border-style: double;
    height: 10%;
    width: 10%;
    float:left;
}   

.right-sidebar
{
    border-color: black;
    border-style: double;
    height: 100%;
    width: 10%;
    float:right;
}   
