/*html,body {*/
/*    height:100%;*/
/*} */

body
{
    /*background-color: whitesmoke;*/
    background: url("/img/wood-background.jpg");
}

.main-content
{
    height: 824px;
    width: 600px;
    margin-left:25%;
    background-image: url("/img/clipboard2.jpg");
    background-size: cover;
    position:relative;
    top:40px;
    box-shadow: 2px 2px 3px #080808;
}

.main-text
{
    height: 82%;
    width: 78%;
    margin-left:12%;
    position:relative;
    top:95px;
    font-size:14px;
    overflow: auto;
}

.left-sidebar
{
    height: 250%;
    width: 25%;
    float:left;
    overflow-wrap: break-word;
    text-align:center;

}   

.right-sidebar
{
    height: 100%;
    width: 24%;
    float:right;
}   

a:hover
{
    color:black;
}

a:active
{
    background-color: gray;
}

a.selected
{
    background-color: pink;
}

@font-face {
    font-family: unseen;
    src: url(/fonts/theunseen.ttf);
}

.jacob-ellis
{
    float: left;
    Padding-left: 5%;
    font-size:80px;
    text-decoration:none;
    color:black;
    margin-top:80px;
    box-shadow: 0px 0px 0px 2px #080808;
    -webkit-transform: rotate(328deg);
    -o-transform: rotate(328deg);
    -moz-transform: rotate(328deg);
    -ms-transform: rotate(328deg);
    -webkit-font-family: unseen;
    -moz-font-family: unseen;
    -o-font-family: unseen;
    -ms-font-family: unseen;
}

.jacob-ellis:hover
{
    color:white;
}

.postit
{
    font-size:21px;
    position: absolute;
    z-index:1;
    padding-top:25px;
    width:200px;
    -webkit-transform: rotate(14deg);
    -o-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    
}   

.li-postit
{
    font-family:unseen;
    padding-bottom:20px;
}

.li-postit a 
{
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
}

