// this is a comment
//

.page-header { 
font-family: Serif;
text-align: right;
background: rgb (48, 25, 52);
color: white;
word-spacing: 3cm;
box-sizing: border-box;
width: 620px;
  
}

a {text-decoration: none;}

div {background-color:#301934;
  padding-block: 12px;
  text-align: right;
  text: #FFFFFF;
  word-spacing: 3cm;
}

.Reviews_p {text-align: center;
background-color: 	#5A5A5A;
text: rgb (255,255,0);  
  }

#weaponh_img {position: left ;
width:300px;
height:500px;
}

Library_SS {
background-color: #FFFF00; 
}

.intro { color: black;
  background-color: default;
  capitons: uppercase;
  
}






