div { 
background: purple;
font: Bauhaus;
text-align: right;
backgroundground-color: purple;
color: white;
  padding: 10px 10px 10px 10px;
  padding-right: 3px;
  word-spacing: 4cm;
}
  
a {color:white;
text-decoration:none;}


b 
  {color: red;
background: black;
align: center;
margin: 40
}




p {color: green;
background-color: orange; 
font-size:22 pt;
margin: 2pt,2pt,2pt,2pt;
  margin: like a clock ;
}


h2 { text: red
  text-align:center
  
}




