h2 {color: red
background: black
allign: center;
margin: 40}

p {color: green;
background-color: orange; 
font-size:22 pt;
  margin: like a clock ;
}


h2 { text: red
}

nav {
  text:orange
background:yellow }


